<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<link rel="stylesheet" type="text/css"
	href="@{'public/stylesheets/main.css'}" />
<link rel="stylesheet" type="text/css"
	href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
<title>addbookd</title>
</head>
<body>
	<div id="wrapper">
		<div id="header"></div>
		<div id="body">
			<div class="logo">
				<a href="/"> <img src="@{'public/images/addbookdLogoLarge.png'}">
				</a>
			</div>
		</div>
		<div id=footer>
			<p class="left">Coming soon...</p>
			<p class="right">
				<a href="mailto:contact@addbookd.com?Subject=Contact%20addbookd">Contact
					us</a>
			</p>
		</div>
	</div>
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25070255-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>